<launch>

  <!-- Launch arm -->
  <arg name="arm_name" default="mico" />
  <arg name="home_arm_on_init" default="true" />

  <rosparam command="load" file="$(find wpi_jaco_wrapper)/config/$(arg arm_name).yaml"/>
  
  <node name="jaco_arm_trajectory_node" pkg="wpi_jaco_wrapper" type="jaco_arm_trajectory_node" output="screen">
    <param name="home_arm_on_init" value="$(arg home_arm_on_init)" />
  </node>
  <node name="jaco_manipulation" pkg="wpi_jaco_wrapper" type="jaco_manipulation" output="screen"/>
  <node name="jaco_conversions" pkg="wpi_jaco_wrapper" type="jaco_conversions"/>
  <node name="jaco_kinematics" pkg="wpi_jaco_wrapper" type="jaco_kinematics"/>

  <!-- Joint state publisher gui -->
  <arg name="gui" default="false" />

  <!-- Load the URDF file -->
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find mico_description)/robots/standalone_arm.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />
  
  <!-- State publishers -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50" />
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg gui)" />
    <rosparam param="source_list">[mico_arm/joint_states]</rosparam>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mico_description)/rviz/view_robot.rviz" required="true" />

  <!-- Launch Data Listener -->
  <node name="HandDataListener" pkg="robot_ctrl" type="HandDataListener" output="screen" />

  <!-- Launch TF Broadcasters -->
  <node name="kinectBroadcaster" pkg="robot_ctrl" type="kinectBroadcaster" output="screen" />
  <node name="handBroadcaster" pkg="robot_ctrl" type="handBroadcaster" output="screen" />
  
  <!-- Launch Robot Movers -->
  <node name="handStateCtrl" pkg="robot_ctrl" type="handStateCtrl" output="screen" />
  <node name="endEffectorUpdater" pkg="robot_ctrl" type="endEffectorUpdater" output="screen" />
</launch>
