<launch>
	<!-- Joint state publisher gui -->
	  <arg name="gui" default="true" />

	  <!-- Load the URDF file -->
	  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find mico_description)/robots/standalone_arm.urdf.xacro'" />
	  <param name="robot_description" command="$(arg urdf_file)" />
	  
	  <!-- State publishers -->
	  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
	    <param name="publish_frequency" type="double" value="50" />
	  </node>

	  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	    <param name="use_gui" value="$(arg gui)" />
        <rosparam>
            zeros:
              mico_joint_1: -2.04
              mico_joint_2: 3.0568
              mico_joint_3: 1.3773
              mico_joint_4: -2.0372
              mico_joint_5: 1.4648
              mico_joint_6: 1.21
        </rosparam>
	    <rosparam param="source_list">[mico_arm/joint_states]</rosparam>
	  </node>

	  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mico_description)/rviz/view_robot.rviz" required="true" />
    
    <!-- Launch Data Listener -->
	<node name="HandDataListener" pkg="robot_ctrl" type="HandDataListener" output="screen" />
    
    <!-- Launch TF Broadcasters -->
    <node name="kinectBroadcaster" pkg="robot_ctrl" type="kinectBroadcaster" output="screen" />
	<node name="handBroadcaster" pkg="robot_ctrl" type="handBroadcaster" output="screen" />
    
</launch>

